*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color:#333;
    background-color: lightgoldenrodyellow;
}

img{
    max-width:100%;
}

h1,h2{
    margin-bottom: 15px;
}


ul{
    list-style-type: none;
}

.container{
    max-width: 1110px;
    margin:0 auto;
    padding:0 30px;
}

.navbar{
    background: black;
    color:#fff;
    height: 60px;
}

.navbar .logo{
    font-size: x-large;
    font-weight: bold;
}

.navbar a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover{
    color: lightgoldenrodyellow;
}

.navbar .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
}

.navbar ul{
    display:flex;
}

.navbar ul li{
    margin-left:20px
}


.header{
    background-color: lightsalmon;
    color: #fff;
    min-height: 100px;
}

.header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
}

.header .container{
    display:flex;
    align-items: center;
    justify-content: start;
}

.boxes .container{
    display:flex;
    justify-content: space-between;
}

.intro{
    text-align: center;
}

.box{
    flex: 1;
    background: #FDA172;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 2px 3px rgb(0,0,0.6);
    padding: 15px 20px;
}

.box{
    margin-right: 10px;
}

@media(max-width: 768px){
    .header .container{
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .boxes .container{
        display: block;
        text-align: center;
    }
}

.msimg{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 500px;
}

.message{
    text-align: center;
}

.btn{
    font-size: 2rem;
    padding: 0;
    width: 10rem;
    text-align: center;
    margin: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: linear-gradient(90deg, rgba(156, 165, 167, 0.65) 0%, rgb(255, 255, 255) 100%);
    border-radius: 4px;
}

.btn:hover{
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.content .list{
    text-align: center;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
}

